[submodule "vendor/ixl-scrape"]
	path = vendor/ixl-scrape
	url = https://github.com/bearyjd/ixl.git
[submodule "vendor/schoology-scrape"]
	path = vendor/schoology-scrape
	url = https://github.com/bearyjd/sgy.git
[submodule "vendor/gc"]
	path = vendor/gc
	url = https://github.com/bearyjd/gc
